@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', sans-serif;
}

.container {
    height: 100%;
}

.text-center {
    text-align: center;
}

/* Top Section */
.topImg {
    background-image: url('img/jetLogoName.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
}

nav {
    width: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 0 0 50px;
}

.navDiv:first-child {
    grid-column-start: 2;
}

.navDiv a {
    color: #000;
    text-decoration: none;
    font-size: 1.3rem;
}

.navDiv a:hover {
    color: #6B6C6C;
    text-decoration: underline;
    text-decoration-color: #fec74f;
}

/* Middle Section */
.middle {
    background-color: #e3e3e3;
    padding: 30px;
}

#services,
#about {
    padding: 30px;
}

#services {
    text-align: center;
}

#about{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#about div {
    padding: 20px 30px;
}

#household, #commercial {
    grid-column: span 2;
}

#courier {
    grid-column-start: 3;
    grid-column: span 2;
}

.aboutTitle {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    text-decoration: underline;
    text-decoration-color: #fec74f;
}


#contact {
    padding: 20px;
    text-align: center;
}
#contact h2 {
    padding-bottom: 10px;
    text-decoration: underline;
    text-decoration-color: #fec74f;
}

.fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    width: 50%;
    margin: 0 auto;
}

.field input {
    width: 94%;
}

.field:nth-child(3) {
    grid-column: 1/ span 2;
    width: 97%;
}

textarea {
    resize: none;
    width: 100%;
}

.field input,
textarea {
    border: 2px solid #000;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.2rem;
}

#captcha {
    display: inline-block;
    padding-top: 10px;
    margin-top: 10px;
}

.button {
    display: inline-block;
    color: #000;
    border: 2px solid #000;
    background: none;
    padding: 15px 50px;
    margin: 15px 30px;
    font-size: inherit;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 50px;
    transition: all 0.3s;
}

.button:hover {
    background-color: #fec74f;
    color: #fff;
    cursor: pointer;
}

footer {
    margin-top: 25px;
    padding: 25px 0;
    background-color: #6B6C6C;
    font-size: 1.2rem;
}

footer span {
    color: #e3e3e3;
}

